
/*-------- header -------*/

header {
  background-color: white;
  display: block;
  height: 85px;
  position: relative;
  width: 100%;
  z-index: 100;
}
/*------ nav-header ------*/

.header .name  {
	border: none;
  font-family: 'Sanchez', serif;
	font-size: 4em;
	font-weight: normal;
  position: absolute;
  
}
.header .name a {
  color: #4d4d4d;
  text-decoration: none;
}
.header em {
  color: #09bbb5;
  font-family: 'Lobster', cursive;
  font-style: normal;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.header .nav {
  float: right;
  padding-top: 35px;
}
.header .nav li {
	float: left;
	margin-right: 10px;
	position: relative;
}

.header .nav li a {
	display: block;
	padding: 5px;	
}


.main {
  background-color: white;
  height: 100%;
  width: 100%;
}

.background {
  background:url(/images/DenverSkyLine.png) no-repeat scroll 0 0;
  left: 0;
  height: 935px;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.icons {
  float: right;
  height: 50px;
  margin-top: 64%;
  padding-right: 6%;
}

.icons .social_media {
  padding-right: 10px;
}

/*------ bodycopy content --------*/
.content {
  position: relative;
  height: 300px;
	width: 85%;
}

.copy_left {
	width: 30%;
	float: left;
}

.copy_middle {
	width: 30%;
}

.copy_right {
	float:right;
	width: 30%;
}

#contact {
	padding-bottom: 20px;
}

/***********************
        about
***********************/

.about {
  padding: 50px 0 50px 0;
  position: relative;
  height: 300px;
  width: 85%;
}
.about h1 {
  padding-bottom: 15px; 
}

/***********************
          work
***********************/

#work {
  background-color: white;
  color: #4d4d4d;
  margin: 0 auto;
  padding: 50px 0 40px 0;
}
.work {
  width: 85%;
}
.work .row {
  margin: 0 auto;
  padding-bottom: 50px;
  clear: both;
}
.work .row.one {
  padding-top: 50px;
}
.work img {
  padding-bottom: 20px;
}

/***********************
        sandbox
***********************/

#sandbox {
  background-color: #4d4d4d;
  color: white;
  margin: 0 auto;
  padding: 50px 0 40px 0;
}

/*----- content ------*/

.page-content {
  margin: 0 auto;
	padding-bottom: 45px;
	width: 1000px;
}

.page-content img{
	padding-bottom: 6px;	
}
.page-top{
	padding: 30px 0 45px 0; 
}
.page-center .web {
 	float: left;
	padding-bottom: 75px;
	width: 800px;
}
.page-center .web .copy {
	width: 400px;	
}
.page-center .customer {
 	float: left;
	min-height: 400px;
	padding-bottom: 40px;
	width: 465px;
}
.page-center .customer.left{
  margin-right: 70px;
}

.page-center .customer .copy {
	width: 300px;	
}

.copy {
	float: right; 	
}
.copy p{
  text-align: justify;
}
.copy h4{
	color: #01BAB5;
	font-family: 'Lobster', cursive;
	font-size: 25px;	
}
.copy h5{
	color: #999;
	font-family: 'Sanchez', serif;
	font-size: 18px;	
	margin: 10px 0 10px 0;
}
.weblink{
  margin-top: 15px;
}
.player {
	float:left;
	margin: 0 30px 45px 0;;
	width: 35%;
}
.player-copy {
	border: 5px solid red;		
}

#thanks {
	color: #01BAB5;
	font-family: 'Lobster', cursive;
	font-size: 36px;
	font-style: normal;
	height: 280px;
	margin: 200px 100px 0 0;
	text-align: center;
}

#form {
	width: 300px;
	margin: 0 auto;
	padding: 100px 0 100px 0px;
}
#formContent {
	margin-top: 40px;
}

fieldset {
  border: 0;
}
fieldset li {
  list-style-type: none;
  margin: 20px;
  font-size: 1.22em;
}
input.button {
  background-color: #01BAB5;
  color: #fff;
  font-size: 1.8em;
  height: 40px;
  width: 80px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  -khtml-border-radius: 10px; 
}

input.error, textarea.error {
  border: 2px solid red;
}
input.text {
  font-size: 1.4em;
  height: 30px;
  width: 400px;
}
textarea {
  font-size: 1.4em;
  height: 140px;
  width: 400px;
  padding-top: 1px;
}
label {
  color: #000;
  font-family: 'Lobster', cursive;
	font-size: 20px;
  font-style: normal;
}

/*----- footer -----*/
#footer {
  background-color: white;
  color: #4d4d4d;
	padding: 50px 0 50px 0;
	text-align: center;
	clear: both;
}
	
#copyright {
  padding-bottom: 20px;
}


/*------ nav footer --------*/
#nav ul {
margin: 0;
padding: 0;
}

#nav li {
  display: inline;
  padding-right: 15px;
}



	


